* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  background-color: #262626;
}
.container {
  width: 90vw;
  max-width: 200em;
  position: relative;
  margin: auto;
}
.add-flashcard-con {
  float:right;
  display: flex;
  justify-content: flex-end;
  padding: 1.2em 1em;
}
.logo {
  color: #ffffff;
  float: left;
  display: flex;
  justify-content: flex-end;
  padding: 0.7em 0em;
  font-size: 2em;
}
#logo-name {
  position: absolute;
  color: #ffffff;
  margin-left: 25px;
  top: 0;
  left: 40px;
  display: flex;
  justify-content: flex-end;
  padding: 0.7em 0em;
  font-size: 1em;
}
.io-con {
  float:right;
  display: flex;
  justify-content: flex-end;
  padding: 1em 0em;
}
button {
  border: none;
  outline: none;
  cursor: pointer;
}
.add-flashcard-con button {
  font-size: 1em;
  background-color: #587ef4;
  color: #ffffff;
  padding: 0.8em 1.2em;
  font-weight: 500;
  border-radius: 0.4em;
}
.add-flashcard-con button:hover {
  background-color:#86a1f6;
  transition: 0.2s;
}
.io-con button {
  font-size: 1em;
  background-color: #ffffff00;
  color: #587ef4;
  padding: 0.8em 1.2em;
  font-weight: 500;
  border-radius: 0.4em;
}
.io-con button:hover {
  color:#86a1f6;
  transition: 0.2s;
}
#card-con {
  margin-top: 1em;
}
#defocus-background {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: #ffffff05;
}
.question-container {
  display: none; /* Hidden by default */
  width: 90vw;
  max-width: 34em;
  flex-direction: column;
  justify-content: center;
  background-color: #202020;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  padding: 3em 2em;
  border-radius: 0.6em;
  box-shadow: 0em 0em 2em rgba(200, 200, 200, 0.1);
}
.question-container h2 {
  font-size: 2.2em;
  color: #ffffff;
  font-weight: 600;
  text-align: center;
  margin-bottom: 2em;
}
.wrapper {
  display: grid;
  grid-template-columns: 11fr 1fr;
  gap: 1em;
  margin-bottom: 1em;
}
.fa-xmark {
  font-size: 1.4em;
  background-color: #587ef4;
  height: 1.8em;
  width: 1.8em;
  display: grid;
  place-items: center;
  color: #ffffff;
  border-radius: 50%;
  cursor: pointer;
  justify-self: flex-end;
}
label {
  color: #ffffff;
  font-weight: 600;
  margin-bottom: 0.3em;
}
textarea {
  width: 100%;
  padding: 0.7em 0.5em;
  background: #303030;
  border: 2px solid #252525;
  outline: none;
  color: #f0f0f0;
  border-radius: 0.3em;
  resize: none;
}
textarea:not(:last-child) {
  margin-bottom: 1.2em;
}
textarea:focus {
  border-color: #f0f0f0;
}
#confirm {
  margin-top: 1em;
  font-size: 1em;
  background-color: #587ef4;
  color: #ffffff;
  padding: 0.6em 0;
  border-radius: 0.3em;
  font-weight: 600;
}
#confirm:hover {
  background-color:#86a1f6;
  transition: 0.2s;
}
#save-btn {
  margin-top: 1em;
  font-size: 1em;
  background-color: #587ef4;
  color: #ffffff;
  padding: 0.6em 0;
  border-radius: 0.3em;
  font-weight: 600;
}
#save-btn:hover {
  background-color:#86a1f6;
  transition: 0.2s;
}
#close-btn {
  margin-top: 0.5em;
  font-size: 1em;
  background-color: #587ef4;
  color: #ffffff;
  padding: 0.6em 0;
  border-radius: 0.3em;
  font-weight: 600;
}
#close-btn:hover {
  background-color:#86a1f6;
  transition: 0.2s;
}
.top-container {
  float:top;
  height:100px;
}
.card-list-container {
  position:absolute;
  display: grid;
  /*padding: 0.2em;*/
  /*  grid-template-columns: 1fr 1fr 1fr;*/
}
.card {
  position: relative;
  height: 250px;
  width: 300px;
  background-color: #303030;
  box-shadow: 0em 0em 2em rgba(0, 0, 0, 0.1);
  padding: 1.2em;
  border-radius: 0.4em;
  margin: 1em;
}
.card-text {
  top: 0;
  left: 0;
  height: 250px;
  width: 300px;
  position: absolute;
  font-weight: 500;
  overflow-wrap: break-word;
  text-align: center;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  font-size: 40px;
  color: #ffffff;
}
.card:hover {
  background-color: #505050;
  transition: 0.2;
}
.buttons-con {
  display: flex;
  justify-content: flex-end;
}
.edit {
  display: none;
  position: absolute;
  bottom: 0.4em;
  right: 0.25em;
  background-color: transparent;
  color: #587ef4;
}
.edit:hover {
  color: #86a1f6;
  transition: 0.2;
}
.delete {
  display: none;
  position: absolute;
  bottom: 0.4em;
  right: 4.5em;
  background-color: transparent;
  color: #ff5353;
}
.delete:hover {
  color: #ff8787;
  transition: 0.2;
}
#play {
  position: fixed;
  bottom: 50px;
  right: 50px;
  border-radius: 75px;
  background-color: #587ef4;
  color: #ffffff;
  width: 60px;
  height: 60px;
}
#play:hover {
  background-color: #86a1f6;
  transition: 0.2;
}
canvas {
  padding: 0;
  margin: auto;
  display: block;
  width: 800px;
  height: 600px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}